*{
  margin:0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

nav{
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav li{
  height: 70px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

nav a:hover{
  background-color: #cbc2c2;
}

nav li:first-child{
  margin-right: auto;
}

ul div{
  display: flex;
}
.homeBtn :hover{
  background-color: white;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index:999;
  background-color: rgb(213, 207, 207,0.2);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
}

.sidebar li{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.sidebar a{
  width: 100%;
}
.show-sidebar{
  display: none;
}

@media (max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .show-sidebar{
    display: block;
  }
}
