* {
  margin: 0;
  padding: 0;
}

.dropdown-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: rgb(231, 226, 226);
}

.options {
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  display: flex;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

select {
  margin-right: 10px;
  width: 10rem;
  padding-left: 7px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.dropDown-search {
  width: 5rem;
  margin-top: 0;
  padding: 10px;
}

.text-tutor{
  text-align: center;
  font-size: 2rem;
  line-height: 2em;
}

@media (max-width:450px){
  select{
    width: fit-content;
  }
}